version: '3.9'
services:
  db:
    image: postgres:14.6-alpine
    container_name: postgres-container
    environment:
      - POSTGRES_USER=$DATABASE_USER
      - POSTGRES_PASSWORD=$DATABASE_PASSWORD
    ports:
      - '5432:5432'
    volumes: 
      - db:/var/lib/postgresql/data
      - ./db/init.sql:/docker-entrypoint-initdb.d/create_database.sql
  pgadmin:
    profiles:
      - testing
    image: dcagatay/pwless-pgadmin4:latest
    container_name: pgadmin4-container
    ports:
      - '5050:80'
    depends_on:
      - db
    environment:
      POSTGRES_USER: $DATABASE_USER
      POSTGRES_PASSWORD: $DATABASE_PASSWORD
      POSTGRES_HOST: 'postgres-container'
volumes:
  db:
    driver: local
  pgadmin-data:
    driver: local